/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #333;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #76FF03;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #76FF03;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    font-size: 2em;
    color: #76FF03;
    border-bottom: 1px solid #333;
    padding-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
}

footer p {
    margin: 0;
    color: #ffffff;
}

/* Project Details */
.project {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.project:hover {
    background-color: #333;
    transform: translateY(-5px);
}

.project h3 a {
    text-decoration: none;
    color: #76FF03;
    font-weight: bold;
    font-size: 1.8em;
    transition: color 0.3s;
}

.project h3 a:hover {
    color: #ffffff;
}

.project p {
    color: #bbbbbb;
    margin: 0.5em 0 0;
}
