body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: white;
    position: relative;
    overflow-x: hidden; /* Ensure no horizontal overflow */
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    z-index: -1;
}

header {
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1, header h2 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    text-align: left;
    margin: auto;
    max-width: 800px;
    z-index: 1; /* Ensure main content is above particles */
}

footer {
    background-color: transparent;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1; /* Ensure footer content is above particles */
}

section {
    margin-bottom: 40px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #333;
}

.project h3 {
    margin-top: 0;
}

.project-link {
    color: #007bff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}
