/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    color: #ffffff;
    position: relative;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: -1;
}

header {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1, header h2 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
}

main {
    flex: 1;
    padding: 20px;
    text-align: left;
    margin: auto;
    max-width: 800px;
    z-index: 1;
}

footer {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 2px solid #00aaff;
    padding-bottom: 5px;
}

.project {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #2b2b2b;
}

.project h3 {
    margin-top: 0;
}

.project-link {
    color: #00aaff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Button Styles */
button {
    background-color: #00aaff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007acc;
}

/* Responsive Styles */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
